<% @articles.each do |article| %>
    <div class="article grid_12">
        <div class="grid_2 alpha">
            title:
        </div>
        <div class="grid_10 omega">
            <%= link_to article.title, edit_article_path(article) %>
        </div>
        <div class="grid_2 alpha">
            content:
        </div>
        <div class="grid_10 omega">
            <%= h article.content %>
        </div>
        <div class="grid_12">
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
        </div>
    </div>

<% end %>

<%= link_to 'New article', new_article_path %>