<h1>Editing rss</h1>

<% form_for(@rss) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rss %> |
<%= link_to 'Back', rsses_path %>