<h1>Listing rsses</h1>
<div class="rssEntryList">
<table >
  <tr>
  <th style="width:100px;">Title</th>
    <th style="width:500px;">Address</th>
  </tr>

<% @rsses.each do |rss| %>
  <div class="entryRow clearfix">
    <span class="title"><%=h rss.title %></span>
    <span class="address"><%=h rss.address %></span>

    <%= link_to 'Show', rss %>
    <%= link_to 'Edit', edit_rss_path(rss) %>
    <%= link_to 'Destroy', rss, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
</table>
</div>

<br />

<%= link_to 'New rss', new_rss_path %>