<%
channel=@rss_content.channel
items=@rss_content.items


%>
<script type="text/javascript">
  $(function() {
    $(".rssList").accordion({autoHeight:false,header:'h3'});
  });
</script>
<h3>
  <%=h channel.title %>
</h3>
<div>
  <p>
    <b>Link:</b>
    <%=h channel.link %>
  </p>
  <p>
    <b>Description:</b>
    <%=h channel.description %>
  </p>

  <div class="rssList">
    <%for item in items%>
      <h3>
        <b>Title:</b>
        <%=h item.title %>
      </h3>
    <div class="body" >
      <p>
        <b>Link:</b>
        <%=link_to item.link,item.link %>
      </p>
      <p>
        <b>Date:</b>
        <%=h item.date %>
      </p>
      <p>
        <b>Description</b>
        <%= item.description %>
      </p>
    </div>
    <%end%>
  </div>
</div>


<%= link_to 'Edit', edit_rss_path(@rss) %> |
<%= link_to 'Back', rsses_path %>