<h2>console</h2>
<div id="left_col" class="grid_8 alpha">
<ul class="articles">

  <% @articles.each do |article| %>
    <li>
      <h4>Title:<span class="title"><%= link_to article.title, edit_article_path(article) %></span></h4>
      <div class="content">
        <%= h article.content %>
      </div>
      
      
      <%= link_to 'Edit', edit_article_path(article),:class=>"operation" %>
      <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete,:class=>"operation" %>
    </li>
  <% end %>
  <%= link_to 'New article', new_article_path %>
</ul>
</div>
<div id="right_col" class="grid_4 omega">
  <div id="catgory">
    <h3>Select a category</h3>
    <ul>
      <li>tech</li>
      <li>life</li>
      <li>music</li>

    </ul>

  </div>

</div>

