<h2>console</h2>

<% @articles.each do |article| %>
    <div class="grid_12 alpha omega article clearfix">
        <div class="grid_2 alpha field">
            title:
        </div>
        <div class="grid_10 omega">
            <%= link_to article.title, edit_article_path(article) %>
        </div>
        <div class="grid_2 alpha field">
            content:
        </div>
        <div class="grid_10 omega">
            <%= h article.content %>
        </div>
        <div class="grid_12 alpha omega">
            <%= link_to 'Edit', edit_article_path(article),:class=>"operation" %>
            <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete,:class=>"operation" %>
        </div>
    </div>

<% end %>
<%= link_to 'New article', new_article_path %>

